<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Parking Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-3 text-white">
          {{ userService.loggedUserData.emailId }}
        </li>
        <li class="nav-item">
          <button (click)="logOff()" class="btn btn-warning">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>